<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.candleshrine">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StrikeMatchActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".EditTextsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SelectTextsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CropImageActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SelectImageActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SelectStyleActivity" android:screenOrientation="portrait"/>
        <activity android:name=".FullscreenShrineActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MainMenuActivity" android:launchMode="singleTask" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>